adbutils==2.12.0
certifi==2026.7.22
charset-normalizer==3.5.0
comtypes==1.4.16
decorator==5.3.1
deprecation==2.1.0
idna==3.18
mouse==0.7.1
numpy==2.5.2
ok-d3dshot==0.1.5
ok-script[default,adb,ocr]==2.0.0b7
onnxocr-ppocrv5==0.0.20
opencc==1.2.0
opencv-python==5.0.0.93
openvino==2026.3.0
openvino-telemetry==2025.2.0
packaging==26.3
pillow==12.3.0
psutil==7.2.2
pyappify==1.0.10
pycaw==20240210
pyclipper==1.4.0
pydirectinput==1.0.4
pynput==1.8.2
pywin32==312
requests==2.34.2
retry2==0.9.5
shapely==2.1.2
six==1.17.0
typing-extensions==4.16.0
urllib3==2.7.0
ttkbootstrap
ultralytics